@page
@model PortifolioGuiDo.Pages.Projects.CVjgModel
@{
    ViewData["Title"] = "CVjg";
}


<div style="text-align:center; margin-top:20px;">
    <embed src="/cvJG/CVJulioGuido.pdf" type="application/pdf" width="80%" height="600px" />
</div>
<br/>
<br/>
<br/>