@page
@model PortifolioGuiDo.Pages.Projects.ProjectJGModel
@{
    ViewData["Title"] = "Projects";
}

<section class="text-white text-center py-5" style="background: linear-gradient(135deg, #007bff, #6610f2);">
    <div class="container">
       <h2 class="mb-4 text-center">Proyectos destacados</h2>
    </div>
</section>



<div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Sistema de Salida de Equipos</h5>
                    <p class="card-text">Aplicación interna desarrollada en .NET Core para la gestión de equipos desarrollado en Razor Page con Entity Framework (SQL Server) y desplegada en IIS</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Intranet en SharePoint</h5>
                    <p class="card-text">Implementación de una intranet corporativa con SharePoint con Microsoft 365.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Infraestructura Nextcloud</h5>
                    <p class="card-text">Despliegue de una nube privada integrada con Cloudflare.</p>
                </div>
            </div>
        </div>

             <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Tienda en Linea</h5>
                    <p class="card-text">Despliegue de una tienda en linea desarrollada en wordpress con WooCommerce.</p>
                </div>
            </div>
        </div>

       <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Actualización pagina Web </h5>
                    <p class="card-text">Actualizacion y Mantenimiento de pagina web en Wordpress </p>
                </div>
            </div>
        </div>


       <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Migración de Infraestructura Completa </h5>
                    <p class="card-text">Realice Migración de Infraestructura IT de la empresa mediante planificación esto incluyó: CCTV, Servidores, Redes, Telefonia, Equipos tecnológicos entre otros.</p>
                  
                </div>
            </div>
        </div>

       <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Migración Correos </h5>
                    <p class="card-text">Realice Migración de correos de la empresa de Godaddy to office 365 utilizando EdbMails Tools </p>
                </div>
            </div>
        </div>

    </div>
</div>

